.dialog {
  &-title {
    flex: 0 0 auto;
    margin: 0;
    padding: 16px 24px;
    font-size: 1.25rem;
    font-weight: 700;
  }
  &-content {
    padding: 8px 24px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 24px;
  }
}
