.navbar {
  .navbar-brand {
    img {
      max-height: 100%;
    }
  }
  // Hide navbar dropdown arrow on touch
  @include until($desktop) {
    .navbar-link {
      padding-right: 0.75rem;
      &::after {
        display: none;
      }
    }
    .navbar-menu {
      padding-bottom: 2rem;
    }
  }
}
