// Color palette
$vfcBlue: #037cbc;
$vfcPurple: #953b83;
$vfcRed: #f05423;
$vfcGreen: #95c83e;
$vfcOrange: #f89e25;
$vfcLightBlue: #52c2ea;

$whitesmoke: #f5f5f5;
$eclipse: #363636;

$primary: $vfcBlue;
$blue: $vfcLightBlue;

$navbar-height: 4.5rem;

$family-primary: 'Roboto', sans-serif;
$family-secondary: 'Cabin', serif;
$family-tertiary: 'Permanent Marker', cursive;

// $size-1: 3rem;
// $size-2: 2.5rem;
// $size-3: 2rem;
// $size-4: 1.5rem;
// $size-5: 1.25rem;
// $size-6: 1rem;
// $size-7: 0.75rem;
